{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>스타트업스쿨 Django</title>
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
</head>
<body>


    <a href="{% url 'home' %}">홈</a>
    <a href="{% url 'articles' %}">글 목록</a>
    <a href="{% url 'article_new' %}">글 작성</a>
    <a href="{% url 'location' %}">위치</a>
    <a href="{% url 'terms' %}">약관</a>

    {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">로그아웃</a>
        <p>{{ user.username }} 님</p>
    {% else %}
        <a href="{% url 'login' %}">로그인</a>
        <a href="{% url 'signup' %}">회원가입</a>
    {% endif %}


    {% block content %} {% endblock content %}

</body>
</html>